@font-face {
  font-family: "SaiyaFont";
  src: url("/fonts/Saiyan-Sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.custom-font {
  font-family: "SaiyaFont", sans-serif;
}
